version: "3.4"
services:
  microservice:
    image: {{ docker_image_name }}
    restart: always
    environment:
      - SOME_ENV_VAR={{ some_env_var }}
    ports:
     - "8080:8080"
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --interval 30